.product .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product h2 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.item {
  width: 50%;
}

.mt-10 {
  margin-top: 100px;
}
